<ul class="nav navbar-nav">
    <li >
        <a  
            id="login-link" 
            aria-label="Login"
            ng-class="MC.getClass('root.login')"  
            ng-if="!toolbar.auth.isAuthenticated()"
            ng-click="toolbar.auth.login()">Log in</a>
    </li>
        
    <li >
        <a  
            id="profile-link" 
            aria-label="Profile"
            ui-sref="root.profile"
            ng-class="MC.getClass('root.profile')"
            ng-if="toolbar.auth.isAuthenticated()">Profile</a>
    </li>

    <li >
        <a 
            id="logout-link"
            aria-label="Logout"
            ng-class="MC.getClass('root.logout')"  
            ng-if="toolbar.auth.isAuthenticated()"
            ng-click="toolbar.auth.logout()">Log out</a>
    </li>

</ul>