<div class="container-fluid">
    <div class="row"
         ng-if="!vm.auth.isAuthenticated()">
        <h3>Please login first! </h3>
    </div>
    <div class="row"
         ng-if="vm.auth.isAuthenticated()">
        <my-calendar class="col-lg-8"
                     selected-date="vm.selectedDate"
                     is-dirty="vm.isDirty"></my-calendar>
        <booking class="col-lg-4"
                 selected-date="vm.selectedDate"
                 is-dirty="vm.isDirty"></booking>
    </div>
</div>

